body {
    box-sizing: border-box;
    font-weight: bold;
    color: white;
    overflow: hidden;
	transition: background-color 1s linear;
}

#container {
    padding-top: 50px;
    font-size: 60px;
    font-family: "Droid Sans", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: left;
    padding-left: 25px;
    padding-right: 25px;
}

footer {
    font-size: 14px;
    font-family: "Droid Sans", sans-serif;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

#setup {
	color: rgba(254,255,255,0.70);
}

#id {
    padding-top: 25px;
	font-size: 25px;
}